* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.layout {
  height: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;

  aside {
    width: 250px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    flex-direction: column;
    align-self: self-start;
  }

  main {
    flex-grow: 1;
    overflow: hidden;

    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

.section-header {
  height: 4rem;
  background-color: burlywood;
}
.section {
  margin: 0 auto;
  width: 100%;
  background-color: beige;
}
.section-grid-container {
  max-width: 850px;
  margin: 0 auto;
}
